// Import font
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Work+Sans:wght@400;500&display=swap");

// Color Palette
$primary: #326e62;
$water: #8FA9BB;
$secondary: #81b8a8;
$neutral: #D2D2D2;
$millenialpink: #FEF2F0;
$pink: #F9BAB1;


.proContain {
    //   background: rgb(233,250,237);
// background: linear-gradient(270deg, rgba(233,250,237,1) 0%, rgba(254,238,255,1) 100%);
// background-size:cover;
}


.containProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    

}

.containProPic {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
    background-color:$secondary;
    border-radius: 200px;
}

.proPic {
    width:200px;
    border-radius: 100px;
    margin: 5px
}

.containInfo {
    background-color: rgb(235, 235, 235);
    border-radius: 15px;
    padding:75px;
      box-shadow: 0 3px 10px -1px rgba(0,0,0,.25);
      margin-bottom: 0 auto;
}

.iconPro {
      color: $primary;
  margin: 5px;
  outline: none;
    transition: all .15s ease 0s;
    &:hover {
    color: $secondary;
  }

  &:active {
      transition: all 0.15s ease 0s;
    // background-color: rgb(77, 133, 77);
        color: $primary;
  }
}