$primary: #326e62;
$water: #8FA9BB;
$secondary: #81b8a8;
$neutral: #D2D2D2;
$millenialpink: #FEF2F0;
$pink: #F9BAB1;


h1 {
    font-size: 30px;
}

.highlight {
    color: $primary;
}

.teamContainer {
    
}

.monica {

}

.jerrald {

}

.tony {

}

.joe {
margin-bottom: 100px;
}

img {
    border-radius: 100px;
}