$primary: #326e62;
$water: #8FA9BB;
$secondary: #81b8a8;
$neutral: #D2D2D2;
$millenialpink: #FEF2F0;
$pink: #F9BAB1;


h1 {
    font-size: 30px;
}

.logoContain2 {
    margin-top: 10px;
    width:70px;
}

.highlight {
    color: $primary;
}

.teamContainer {
    margin-bottom: 100px;
}


.monica {
    border-radius: 1000px;
}

.jerrald {
    border-radius: 1000px;

}

.tony {
    border-radius: 1000px;

}

.joe{
    border-radius: 1000px;
}

