$primary: #326e62;
$water: #8FA9BB;
$secondary: #81b8a8;
$neutral: #D2D2D2;
$millenialpink: #FEF2F0;
$pink: #F9BAB1;

@mixin titleFont {
  font-family: "Comfortaa", cursive;
  font-weight: regular;
}

@mixin bodyFont {
  font-family: "Work Sans", sans-serif;
  font-weight: regular;
}

.cardText {
    @include bodyFont();
  font-size:14px;
}

.cardTitle {
    @include titleFont();
    font-size: 16px;
    font-weight: 900;
   
    // padding: -40px;
}

.container {
  display: flex;
  // flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.cardPlant {
    margin: 0 10px 10px 10px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
justify-content: space-between;
// flex-wrap: wrap;
background-color: rgb(255, 255, 255);
max-width: 800px;
  height: 123px;
  border:1px solid $water;
  border-radius: 15px;
  box-shadow: 0 3px 5px -2px rgba(0,0,0,.2);
    transition: all 0.5s ease 0s;
    cursor: pointer;
      &:hover {
    background-color: rgba(245, 245, 245, 0.801);
    ;
  }
    &:active {
      transition: all 0.1s ease 0s;
    transform: translate(0px, 1px);
    // background-color: rgb(77, 133, 77);
        background-color: $water;
  }
}

.holdImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // background-color: $pink;
  border-radius: 8px;
  margin: 10px;
  width:100px;
  height: 100px;
}

.plantCard {
  width:100px;
  height: 100px;
  display: flex;
  background-color: $neutral;
  max-height: auto;
  border: 2px solid $primary;
  border-radius: 100px;
}
 
.holdWater {
  display: flex;
overflow-wrap: break-word;
  height: 100px;
    flex-direction: column;
    
    justify-content: space-evenly;
    align-items: center;
  background-color: rgb(212, 243, 253);
  border: 2px solid #9CD7F2;
  border-radius: 100px;
  margin: 10px;
  width:100px;
}

.holdDrop {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  width: 75px;
}

.holdText {
    display: flex;
  line-height: 1.5;
    // height: 100px;
    // align-content: center;
//     flex-direction: row;
//     justify-content: left;
//     align-items: center;
//   text-align: center;
//   max-height: 100%;
//   max-width: 100%;
// //   margin-bottom: 30px;
// //   margin-left: -100px;
}

.holdTxtAgain {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;
//     align-items: center;
//   text-align: center;
// word-wrap: break-word;
    text-overflow: ellipsis;
    overflow:hidden;
  height: 100%;
width: 100px;
}